@media (max-width:600px) {
    .hideonmobiles{
        display: none;
    }

        .menu-button {
            display: block;
        }
}

@media (max-width:400px) {
    .sidebar {
        width: 100%;
    }
}